*,
*::before,
after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-red: #ec2c2c;
  --clr-orange: #e9993d;
}
body {
  padding: 0, 2rem;
  color: #000000;
  font-family: Poppins, sans-serif;
  background: linear-gradient(45deg, #ec2c2c, #e9993d);
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  display: flex;
  margin: 1.5rem 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.header > h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 40px;
}
.underline {
  width: 2rem;
  border-top: 2px solid #ffffff;
}
.btn {
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  width: 2rem;
}

/* ====================================================================
ADDTODO
======================================================================= 
*/
.add-todo {
  height: 2rem;
  margin: 0 auto;
  display: grid;
  max-width: 568px;
  grid-template-columns: 1fr auto auto;
}
.add-todo-input {
  border: none;
  outline: none;
  padding: 0.5rem;
}

.add-btn {
  background-color: var(--clr-red);
}
.clear-btn {
  background-color: var(--clr-orange);
}
/*
============================================
display todos
==========================================
*/
.todos {
  display: flex;
  row-gap: 1rem;
  margin-top: 2rem;
  align-items: center;
  flex-direction: column;
}
.todo {
  display: grid;
  align-items: stretch;
  grid-template-columns: minmax(200px, 500px) repeat(3, auto);
  height: 1.75rem;
}
.todo input {
  border: none;
  outline: none;
  padding: 0.5rem;
}
.done-btn {
  background-color: green;
}
.edit-btn {
  background-color: blueviolet;
}
.delete-btn {
  background-color: var(--clr-red);
}
